html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    text-align: center;
    text-transform: uppercase;
    background-color: black;
    color: #03A062;
    font-family: 'Press Start 2P', cursive;
}
h1 {
    margin-bottom: 1.5em;
}
.instructions {
    margin: auto;
    width: 30%;
    line-height: 1.5em;
}
button {
    font-family: 'Press Start 2P', cursive;
    background-color: black;
    color:#03A062;
    font-weight: bold;
    margin-top: 2em;
    padding: 1em;
    border: 1px solid #037a4a;

    &:hover {
        border: 3px solid #037a4a;
        color: white;
    }
}
.main {
    visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0.5em;

    .playerSide {
        margin: 2em;

        .button.hover-on {
            margin-bottom: 1em;
            width: auto;
            height: 7em;
            &:hover {
                border: 5px solid #03A062;
            }
        }

        .button {
            margin-bottom: 1em;
            width: auto;
            height: 7em;
        }
        div {
            margin: 0.5em;
        }
    }

    .result-board {
        visibility: hidden;
        line-height: 2em;
        padding: 2em;
        margin-left: 5em;
        margin-right: 5em;
        
        .round-result, .final-result {
            margin: 0.5em;
            padding: 1em;
            border: 1px dotted #03A062;
        }

        .final-result {
            visibility: hidden;
        }
    }
}